{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<section>
  <div class="container">
    <div class="row" id="product-list">
      {% for product in data%}
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-image-top">
          <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <div class="price">
              <p class="card-text font-weight-bold">#{{ product.new_price}}</p>
              <p class="card-text font-muted"><del>#{{ product.old_price}}</del></p>
            </div>
          </div>
          {% if request.user.is_authenticaated %}
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-sm-auto">
                  <a href="{% url 'shop:product_delete' producct.id %}">
                    <button class="btn btn-warning">Remove</button>
                  </a>
                  
                </div>

                <div class="col-sm-auto">
                  <a href="{% url 'shop:edit' product.id %}">
                    <button class="btn btn-primary">Edit</button>
                  </a>
                  
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>

  </div>
    
  </section>



{% endblock %}